<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <button class="menubtn">
                <a [routerLink]="['/admin-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Dashboard </a>
            </button>
            <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"> <i class="fas fa-user-edit"
                            style="margin-right: 15px"></i>
                        Inserisci profilo</a>
                </button>
            </div>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Prenotazione </a>
                </button>
            </div>
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>