form{
    margin-top:30px;
    width: 80%;
    float:left;
    padding: 10px;
    margin-left: 11%;
    border-radius:0;
    /*border-color: #f85d5d;*/
}


img{
    position: center;
    width: 75%;
   
}

p{
    margin-left: 15%;
}


input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: ADD8E6;
    border-radius: 3;
    color: black;
    border-bottom: 5px solid whitesmoke;
    margin: 0px; 
}

input::placeholder{
    color: black;
}

.form-control{
border: none;
background-color: whitesmoke;
color: white;
border-bottom: 1px solid white;
}

.login{
border: none;
background-color: red;
color: white;
border: 1px solid white;
border-radius: 7px;
padding-top: 90px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

p{
font-size: 20px;
color: black;
}

#modalSignin{
background:#fff url("../../assets/sfondologin.jpg") no-repeat center center;
background-size:cover;
}

#Login{
    width: 380px;
    margin-left: 5.5%;
    display: inline-block;
}
#bottone {
    background-color: #add8e6;
}

#accedi{
    color: #add8e6;
}

#usertype {
    margin-top: 5%;
}